@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Kdam+Thmor+Pro&family=Macondo&family=Manrope:wght@300&family=Playfair+Display&family=Ubuntu:wght@300&display=swap');

.signIn-container{
  background-color: white;
  display: flex;
  justify-content: center;
}

.icon-1{
  /* margin-left: 20px; */
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.514);
}

.icon-1:hover{
  color: black;
  cursor: pointer;
}

.icon-2{
  /* float: left; */
  margin-left: 20px;
  margin-top: 20px;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.514);
}

.icon-2:hover{
  color: black;
  cursor: pointer;
}

.signIn-container-1{
  /* border: 2px solid black; */
  width: 500px;
  height: 30pc;
  margin-top: 50px;
  box-shadow: 0px 0px 6px rgba(73, 73, 73, 0.534);
  border-radius: 22px;
  font-family: 'Playfair Display', serif;
}

.signIn-container-2{
  display: flex;
}

.signIn-container-1-p{
  font-size: 36px;
  font-weight: 700;
  padding: 20px 24px;
  justify-content: left;
  /* border: 2px solid black; */
  margin-top: 20px;
}

.signIn-container-2-p{
  font-size: 36px;
  font-weight: 700;
  padding: 20px 24px;
  justify-content: left;
  /* margin-top: -20px; */
}

.signIn-container-1-p:after{
  color: #A2195B;
  content: "Qatar.";
}



/* .signIn-container-1-p-2 {
  margin-left: 120px;
  margin-top: -50px;
  color: #A2195B;
  position: absolute;
} */

.signIn-container-1-label{
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  margin-left: 24px;
  position: absolute;
  margin-top: 40px;
  font-weight: 700;
}

.inp{
  margin-left: 30px;
  width: 400px;
  margin-top: 100px;
}

.PhoneInputCountrySelect{
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
}

.PhoneInputCountryIcon{
  
}

.PhoneInputCountryIconImg{
  
}

.PhoneInputCountryIconIcon--border{
}

.PhoneInputInput{
  font-family: 'Manrope', sans-serif;
  padding: 8px 12px;
  font-size: 16px;
  outline: none;
  border-radius: 6px;
  border: 1px solid black;
}

.signIn-container-1-btn{
  width: 360px;
  border-radius: 14px;
  height: 40px;
  border: none;
  margin-top: 60px;
  margin-left: 70px;
  font-family: 'Manrope', sans-serif;
  background-color: #A2195B;
  letter-spacing: 1px;
  color: white;
  font-weight: 700;
}

.signIn-container-1-btn:hover {
  cursor: pointer;
}

/* OTP Page */

.signIn-container-1-p-3{
  color: rgba(128, 128, 128, 0.61);
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: -20px;
  margin-left: 24px;
  display: flex;
}

.signIn-container-1-p-4{
  color: black;
}

/* .otp-inp{
  font-family: 'Manrope', sans-serif;
  margin-left: 80px;
  margin-top: 50px;
} */

.otp-inp-container{
  display: inline-flex;
  margin-left: 24px;
  margin-top: 50px;
  font-family: 'Manrope', sans-serif;
}

.otp-inp-box{
  font-size: 35px;
  color: rgba(128, 128, 128, 0.555);
}

.signIn-container-2-btn{
  width: 360px;
  border-radius: 14px;
  height: 40px;
  border: none;
  margin-top: 80px;
  margin-left: 70px;
  font-family: 'Manrope', sans-serif;
  background-color: #A2195B;
  letter-spacing: 1px;
  color: white;
  font-weight: 700;
}

.signIn-container-2-btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .signIn-container-1{
    /* border: 2px solid black; */
    width: 300px;
    height: 20pc;
    margin-top: 150px;
  }
  .signIn-container-1-p{
    font-size: 20px;
  }
  
  .inp{
    width: 250px;
    margin-top: 60px;
  }
  .signIn-container-1-label{
    font-size: 17px;
    margin-top: 20px;
  }
  .PhoneInputInput{
    padding: 5px 8px;
    font-size: 14px;
  }
  .signIn-container-1-btn{
    width: 250px;
    margin-top: 45px;
    margin-left: 30px;
  }
  
  /* OTP Page */
  .signIn-container-2-p{
    font-size: 20px;
    margin-top: -10px;
  }
  .signIn-container-1-p-3{
    color: rgba(128, 128, 128, 0.61);
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: -15px;
    margin-left: 24px;
  }
  .signIn-container-2-btn{
    width: 250px;
    margin-top: 45px;
    margin-left: 30px;
  }
  .otp-inp-container{
    display: inline-flex;
    margin-left: 24px;
    margin-top: 35px;
    font-family: 'Manrope', sans-serif;
  }
  .otp-inp-box{
    font-size: 20px;
    color: rgba(128, 128, 128, 0.555);
  }
  .icon-1{
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
  }
  .icon-2{
    margin-right: 10px;
    margin-top: 10px;
    font-size: 25px;
  }
}